[package]
name = "cramjam"
version = "1.1.0"
authors = ["Miles Granger <miles59923@gmail.com>"]
edition = "2018"
license-file = "LICENSE"
description = "Thin Python bindings to de/compression algorithms in Rust"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.9.0-alpha.1", features = ["extension-module"] }
snap = "^1"
brotli2 = "^0.3"
lz4-compress = "^0.1"
flate2 = "^1"
zstd = "0.5.1+zstd.1.4.4"
