appdirs==1.4.3
attrs==19.3.0
black==19.10b0
Click==7.0
importlib-metadata==1.5.0
maturin==0.7.9
more-itertools==8.2.0
packaging==20.3
pathspec==0.7.0
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pytest==5.3.5
regex==2020.2.20
six==1.14.0
toml==0.10.0
typed-ast==1.4.1
wcwidth==0.1.8
zipp==3.1.0
