name: ReleaseCI

on:
  release:
  push:
    tags:
      - "*"

jobs:
  build-n-publish:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.6]
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        components: clippy
        override: true

    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: 'x64'

    - name: Install Dev requirements
      run: pip install -r dev-requirements.txt

    - name: Build Wheels - Linux
      if: startsWith(matrix.os, 'ubuntu')
      env:
        PYTHON_VERSION: python${{ matrix.python-version }}
      run: |
        docker run --rm -v $(pwd):/io konstin2/maturin build -i $PYTHON_VERSION --release --out wheels

    - name: Build Wheels - Non-Linux
      if: startsWith(matrix.os, 'windows') || startsWith(matrix.os, 'macos')
      run: |
        pip install maturin
        maturin build -i python --release --out wheels
        maturin sdist --out wheels

    - name: Publish
      env:
        TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
      run: |
        pip install twine
        twine upload -u milesg --skip-existing wheels/*
