name: ReleaseCI

on:
  release:
  push:
    tags:
      - "*"

jobs:
  build-n-publish:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.6, 3.7, 3.8]
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        components: clippy
        override: true

    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: 'x64'

    - name: Install Dev requirements
      run: pip install -r dev-requirements.txt

    - name: Build Wheels
      run: |
        docker build . -t milesg/maturin:latest
        docker run --rm -v $(pwd):/io milesg/maturin:latest sh -c "source ~/.cargo/env && maturin build --release --out wheels"

    - name: Publish
      env:
        TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
      run: |
        pip install twine
        twine upload -u milesg --skip-existing wheels/*